In [9]:
suppressWarnings(library(dplyr))

In [11]:
# Tränar joins

# Givet två dataframes kan man joina data på flera olika sätt. Inner_join() tar data och joinar dom via
# en variabel, och låter dom nya raderna vara dom observationer som är gemensamma för dom två dataframesen

df1 <- data.frame(
    ID = c(1,3,5,7,9),
    Var = c("A","B","C","D","E")
    )

df2 <- data.frame(
    ID = c(1,2,3,4,5),
    Var = c("1","2","3","4","5")
    )

In [12]:
inner_join(df1,df2, by = "ID")

  ID Var.x Var.y
1 1  A     1
2 3  B     3
3 5  C     5

In [15]:
full_join(df1,df2, by = "ID")

  ID Var.x Var.y
1 1  A     1
2 3  B     3
3 5  C     5
4 7  D     NA
5 9  E     NA
6 2  NA    2
7 4  NA    4

In [16]:
right_join(df1,df2, by = "ID")

  ID Var.x Var.y
1 1  A     1
2 3  B     3
3 5  C     5
4 2  NA    2
5 4  NA    4

In [17]:
left_join(df1,df2, by = "ID")

  ID Var.x Var.y
1 1  A     1
2 3  B     3
3 5  C     5
4 7  D     NA
5 9  E     NA

In [18]:
outer_join(df1,df2, by = "ID")

ERROR: Error in outer_join(df1, df2, by = "ID"): could not find function "outer_join"

In [ ]:
# Joinsen som finns är full, inner, right, och left. Ibland kallas full_join för en "outer_join" istället
# men funktionen i dplyr som används för att göra en outer join kallas för full_join(). Arguemntetn
# för funktionerna är typavjoin_join(förstadataframen,andradataframen, by = "NamnpåIDcolumnensommanjoinarefter)